.env
transcript_*.txt
transcript_*.md
config/ollama_remote*.yml
config/openai_*.yml
config/anthropic_*.yml
config/lmstudio_*.yml
config/llm_proxy_*.yml
__pycache__/*
transcripts/*
logs/*
Testing/
my_personas/
ollama_translate_service.py
